<p class="ly_inputColumn">
  <span class="el_inputHasText ly_inputColumn_item ly_inputColumn_item__narrow">
    <span class="el_select el_select__fill">
      [select birth-year id:birth-year data:autoYear]
    </span>
    <span class="el_inputHasText_text">年</span>
  </span>
  <span class="el_inputHasText ly_inputColumn_item ly_inputColumn_item__narrowest">
    <span class="el_select el_select__fill">
      [select birth-month id:birth-month data:autoMonth]
    </span>
    <span class="el_inputHasText_text">月</span>
  </span>
  <span class="el_inputHasText ly_inputColumn_item ly_inputColumn_item__narrowest">
    <span class="el_select el_select__fill">
      [select birth-day id:birth-day data:autoDay]
    </span>
    <span class="el_inputHasText_text">日</span>
  </span>
</p>