<p class="ly_inputColumn">
  <span class="el_inputHasText ly_inputColumn_item ly_inputColumn_item__narrow">
    [number birth-year id:birth-year class:el_input]
    <span class="el_inputHasText_text">年</span>
  </span>
  <span class="el_inputHasText ly_inputColumn_item ly_inputColumn_item__narrowest">
    [number birth-month id:birth-month class:el_input min:1 max:12]
    <span class="el_inputHasText_text">月</span>
  </span>
  <span class="el_inputHasText ly_inputColumn_item ly_inputColumn_item__narrowest">
    [number birth-day id:birth-day class:el_input min:1 max:31]
    <span class="el_inputHasText_text">日</span>
  </span>
</p>