<!DOCTYPE html>
<html>
  <head>
    {{> @head}}
    <style>
      .el_icon {
        max-width: 40px;
      }
    </style>
  </head>
  <body style="background: #99a9b0;">
    {{{ yield }}}
    {{> @icons}}
  </body>
</html>
