<div class="ly_column ly_column__column4 ly_column__mobileColumn">
  <figure class="ly_column_item">
    <img src="https://placehold.jp/670x502.png" alt="" height="670" width="502" loading="lazy" decoding="async">
  </figure>
  <figure class="ly_column_item">
    <img src="https://placehold.jp/670x502.png" alt="" height="670" width="502" loading="lazy" decoding="async">
  </figure>
  <figure class="ly_column_item">
    <img src="https://placehold.jp/670x502.png" alt="" height="670" width="502" loading="lazy" decoding="async">
  </figure>
  <figure class="ly_column_item">
    <img src="https://placehold.jp/670x502.png" alt="" height="670" width="502" loading="lazy" decoding="async">
  </figure>
  <figure class="ly_column_item">
    <img src="https://placehold.jp/670x502.png" alt="" height="670" width="502" loading="lazy" decoding="async">
  </figure>
</div>