<table class="el_table el_table__noLineAfterTitle">
  <tbody>
    <tr class="el_table_item">
      <th class="el_table_title" scope="row">表見出し</th>
      <td class="el_table_content">表データ</td>
    </tr>
    <tr class="el_table_item">
      <th class="el_table_title" scope="row">テキストが入ります</th>
      <td class="el_table_content">テキストが入りますこれはダミーです</td>
    </tr>
    <tr class="el_table_item">
      <th class="el_table_title" scope="row">テキストが入ります</th>
      <td class="el_table_content">テキストが入りますこれはダミーですテキストが入りますこれはダミーですテキストが入りますこれはダミーです</td>
    </tr>
  </tbody>
</table>