<div class="js_scrollable scroll-hint" style="position: relative; overflow: auto;">
  <table class="el_table el_table__column">
    <tbody>
      <tr class="el_table_item">
        <th class="el_table_title" scope="col">表見出し</th>
        <th class="el_table_title" scope="col">表見出し</th>
        <th class="el_table_title" scope="col">表見出し</th>
        <th class="el_table_title" scope="col">表見出し</th>
      </tr>
      <tr class="el_table_item">
        <td class="el_table_content">テキスト</td>
        <td class="el_table_content">テキストが入りますこれはダミーです</td>
        <td class="el_table_content">テキストが入りますこれはダミーです</td>
        <td class="el_table_content">テキストが入りますこれはダミーです</td>
      </tr>
      <tr class="el_table_item">
        <td class="el_table_content">テキスト</td>
        <td class="el_table_content">テキストが入りますこれはダミーです</td>
        <td class="el_table_content">テキストが入りますこれはダミーです</td>
        <td class="el_table_content">テキストが入りますこれはダミーです</td>
      </tr>
    </tbody>
  </table>
  <div class="scroll-hint-icon-wrap" data-target="scrollable-icon">
    <span class="scroll-hint-icon">
      <div class="scroll-hint-text">スクロールできます</div>
    </span>
  </div>
</div>

<div class="js_scrollable ly_content scroll-hint" style="position: relative; overflow: auto;">
  <table class="el_table el_table__column">
    <tbody>
      <tr class="el_table_item">
        <th class="el_table_title">表見出し</th>
        <th class="el_table_title">表見出し</th>
        <th class="el_table_title">表見出し</th>
        <th class="el_table_title">表見出し</th>
      </tr>
      <tr class="el_table_item">
        <th class="el_table_title" scope="row">テキスト</th>
        <td class="el_table_content">テキストが入りますこれはダミーです</td>
        <td class="el_table_content">テキストが入りますこれはダミーです</td>
        <td class="el_table_content">テキストが入りますこれはダミーです</td>
      </tr>
      <tr class="el_table_item">
        <td class="el_table_title" scope="row">テキスト</td>
        <td class="el_table_content">テキストが入りますこれはダミーです</td>
        <td class="el_table_content">テキストが入りますこれはダミーです</td>
        <td class="el_table_content">テキストが入りますこれはダミーです</td>
      </tr>
    </tbody>
  </table>
  <div class="scroll-hint-icon-wrap" data-target="scrollable-icon">
    <span class="scroll-hint-icon">
      <div class="scroll-hint-text">スクロールできます</div>
    </span>
  </div>
</div>