<ul class="el_listHorizontal{{#if modifier}} el_listHorizontal__{{modifier}}{{/if}}">
  <li class="el_listHorizontal_item">横並びリスト</li>
  <li class="el_listHorizontal_item">名前</li>
  <li class="el_listHorizontal_item">名前</li>
  <li class="el_listHorizontal_item">名前</li>
  <li class="el_listHorizontal_item">名前</li>
</ul>