<div class="ly_columnAsymmetry">
  <div class="ly_columnAsymmetry_narrow">
    <h2 class="el_titleMain el_titleMain__left"><span class="el_titleMain_inner">■■■■■■■■■</span></h2>
  </div>
  <table class="ly_columnAsymmetry_wide el_table">
    <tbody>
      <tr class="el_table_item">
        <th class="el_table_title" scope="row">表見出し</th>
        <td class="el_table_content">表データ</td>
      </tr>
      <tr class="el_table_item">
        <th class="el_table_title" scope="row">テキストが入ります</th>
        <td class="el_table_content">テキストが入りますこれはダミーです</td>
      </tr>
      <tr class="el_table_item">
        <th class="el_table_title" scope="row">テキストが入ります</th>
        <td class="el_table_content">テキストが入りますこれはダミーですテキストが入りますこれはダミーですテキストが入りますこれはダミーです</td>
      </tr>
    </tbody>
  </table>
</div>