<a class="el_linkHasArrow" href="#">
  {{#unless is_arrowRight}}
  <span class="el_iconArrow el_iconArrow__small"></span>
  {{/unless}}
  <span class="el_linkHasArrow_text">リンクテキスト</span>
  {{#if is_arrowRight}}
  <span class="el_iconArrow el_iconArrow__small"></span>
  {{/if}}
</a>