<head>
  <meta charset="utf-8">
  <title>Preview Layout</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&amp;family=Noto+Serif+JP:wght@700&amp;display=swap" rel="stylesheet" media="print" onload="this.media='all'">
  <noscript>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&amp;family=Noto+Serif+JP:wght@700&amp;display=swap" rel="stylesheet">
  </noscript>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>

  <link rel='stylesheet' id='theme-css' href='{{file-url}}css/style.css' type='text/css' media='all' />
  <script type="text/javascript" src="{{file-url}}js/common.js" id="theme-js" defer="defer" data-wp-strategy="defer"></script>
</head>