<div class="el_tel">
  <svg class="el_icon el_tel_icon">
    <use xlink:href="#icon_tel"></use>
  </svg>000-0000-0000
</div>

<div class="el_tel el_tel__small">
  <svg class="el_icon el_tel_icon">
    <use xlink:href="#icon_tel"></use>
  </svg>000-0000-0000
</div>

<div class="el_tel el_tel__base">
  <svg class="el_icon el_tel_icon">
    <use xlink:href="#icon_tel"></use>
  </svg>000-0000-0000
</div>

<div class="el_tel el_tel__base el_tel__small">
  <svg class="el_icon el_tel_icon">
    <use xlink:href="#icon_tel"></use>
  </svg>000-0000-0000
</div>
