<p>
  <a class="el_linkText__main el_linkText" href="#">テキストリンク</a>
</p>
<p>
  <a class="el_linkText__main el_linkText" href="#" target="_blank" rel="noopener noreferrer">
    <svg class="el_icon el_linkText_icon">
      <use xlink:href="#icon_email"></use>
    </svg>
    テキストリンク
    <svg class="el_icon el_linkText_icon">
      <use xlink:href="#icon_blank"></use>
    </svg>
  </a>
</p>
<p>
  <a class="el_linkText__main el_linkText" href="#">
    <svg class="el_icon el_linkText_icon">
      <use xlink:href="#icon_email"></use>
    </svg>
    テキストリンク
  </a>
</p>
<p>
  <a class="el_linkText__main el_linkText" href="#" target="_blank" rel="noopener noreferrer">
    テキストリンク
    <svg class="el_icon el_linkText_icon">
      <use xlink:href="#icon_blank"></use>
    </svg>
  </a>
</p>
