<a class="el_iconArrow" href="#"></a>
<a class="el_iconArrow el_iconArrow__left" href="#"></a>
<a class="el_iconArrow el_iconArrow__small" href="#"></a>
<a class="el_iconArrow el_iconArrow__small el_iconArrow__left" href="#"></a>

<a class="el_iconArrow el_iconArrow__base" href="#"></a>
<a class="el_iconArrow el_iconArrow__base el_iconArrow__left" href="#"></a>
<a class="el_iconArrow el_iconArrow__base el_iconArrow__small" href="#"></a>
<a class="el_iconArrow el_iconArrow__base el_iconArrow__small el_iconArrow__left" href="#"></a>
