<div class="el_paragraph">
  <p class="el_paragraph_item">本文テキストが入ります。これはダミーです、テキストが入ります。これはダミーです、テキストが入ります。これはダミーです、テキストが入ります。これはダミーです、テキストが入ります。これはダミーです、テキストが入ります。これはダミーです、テキストが入ります。</p>
  <p class="el_paragraph_item">本文テキストが入ります。これはダミーです、テキストが入ります。これはダミーです、テキストが入ります。これはダミーです、テキストが入ります。これはダミーです、テキストが入ります。これはダミーです、テキストが入ります。これはダミーです、テキストが入ります。</p>
</div>