<div class="bl_flowItemColumn bl_flowItemColumn__fill">
  {{#each items}}
  <div class="bl_flowItemColumn_item">
    <div class="bl_flowItemColumn_number">00:00</div>
    <div class="bl_flowItemColumn_content">
      <p>【採用サイト専用】テキストが入りますこれはダミーですテキストが入りますこれはダミーですテキストが入りますこれはダミーですテキストが入りますこれはダミーですテキストが入りますこれはダミーですテキストが入りますこれはダミーです</p>
    </div>
  </div>
  {{/each}}
</div>