<p class="ly_content ly_content__small">
  ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。
</p>
<p class="ly_content ly_content__small">
  ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。
</p>