<p class="el_signature{{#if modifier}} el_signature__{{modifier}}{{/if}}">
  <span class="el_signature_header">{{header}}</span>
  <span class="el_signature_name"><span class="el_signature_subText">代表取締役</span>苗字 名前</span>
</p>