<div class="ly_column ly_column__column4Large">
  <div class="ly_column_item">

    <div class="bl_contentText">
      <div class="bl_contentText__column4">
        <p class="el_titleHasNumber el_titleHasNumber__small">
          <span class="el_titleHasNumber_number">01</span>
          4カラムアイテム</p>
        <p class="el_paragraph__leadingLoose">テキストが入りますこれはダミーですテキストが入りますこれはダミーですテキストが入りますこれはダミーですテキストが入りますこれはダミーですテキストが入りますこれはダミーですテキストが入りますこれはダミーです</p>
      </div>
    </div>

  </div>
</div>