<div class="bl_content">
  <div class="bl_content_header">
    <p class="el_label">SERVICE 00</p>
    <h3 class="el_catchCopy el_catchCopy__main">コンテンツ<br>テキスト部分は自由に設定できます</h3>
  </div>
  <div class="bl_content_body el_paragraph">
    <p class="el_paragraph_item">テキスト量は変更できます。</p>
    <p class="el_paragraph_item">ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。</p>
    <p class="el_paragraph_item">ここにテキストが入ります、この文字はダミーです。ここにテキストが入ります、この文字はダミーです。</p>
  </div>
  <div class="bl_content_footer">
    <a class="el_button" href="#">基本ボタン</a>
  </div>
</div>