<!-- wp:html -->
<main class="ly_layout el_background">
  <div class="el_paragraph el_paragraph__center">
    <p class="el_paragraph_item">
      送信ありがとうございました。<br>
      ご入力いただいたメールアドレス宛に<br class="tab_none">確認メールが送信されています。
    </p>
    <p class="el_paragraph_item">
      万が一確認メールが来ない場合は、<br class="tab_none">メールの不達の可能性がありますので、<br>
      大変お手数ではございますが、<br class="tab_none">お電話にてご連絡をお願いいたします。
    </p>
  </div>
  <p class="ly_content ly_content__large ly_button ly_button__center">
    <a href="tel:06-6966-0360" class="el_button">TEL : 06-6966-0360</a>
  </p>
</main>
<!-- /wp:html -->
